{% extends "attendance_app_base/base_with_header.html" %}

{% load widget_tweaks %}

{% block title %}비밀번호 변경 | 근태관리{% endblock title %}

{% block content %}
<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">비밀번호 변경</h1>
      <a href="{% url 'attendance_app:profile' user.id %}" class="lg:w-2/3 mx-auto leading-relaxed text-base">프로파일 보기</a>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <form method="post">
        {% csrf_token %}
        <div class="p-2 w-full">
          <div class="relative">
            <label for="oldpassword" class="leading-7 text-sm text-gray-600">현재 비밀번호</label>
            {{ form.oldpassword|add_class:'w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out'|attr:'placeholder: 현재 비밀번호' }}
            {% for error in form.oldpassword.errors %}
              <div class="form-error error-message text-red-500 text-sm mt-1">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="p-2 w-full">
          <div class="relative">
            <label for="password1" class="leading-7 text-sm text-gray-600">새 비밀번호</label>
            {{ form.password1|add_class:'w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out'|attr:'placeholder: 비밀번호' }}
            {% for error in form.password1.errors %}
            <div class="form-error error-message text-red-500 text-sm mt-1">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="p-2 w-full">
          <div class="relative">
            <label for="password2" class="leading-7 text-sm text-gray-600">새 비밀번호</label>
            {{ form.password2|add_class:'w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out'|attr:'placeholder: 비밀번호' }}
            {% for error in form.password2.errors %}
            <div class="form-error error-message text-red-500 text-sm mt-1">{{ error }}</div>
            {% endfor %}
          </div>
        </div>  
        <div class="p-2 w-full">
          <button type="submit" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">완료</button>
        </div>
      </form>
    </div>
  </div>
</section>  
{% endblock content %}